/node_modules
/**/node_modules
.env
/backend/dist
/backend/res
/frontend/build
/frontend/src/hooks/consts.ts
/frontend/src/controllers/cookie.ts
/terraform/.terraform*
/terraform/archive
/terraform/terraform*
testuser.txt
/backend/src/utils/consts.ts