$body-bg: rgb(30, 30, 30);
$body-color: #fff;

$content-bg: rgb(60, 60, 60);
$list-group-bg: $content-bg;
$list-group-color: $body-color;

.margins {
  margin: 2rem;
}

.margin-start {
  margin-left: 0.3rem;
}

.paddings-vert {
  padding: 2rem 0 2rem 0;
}

.bg-form {
  background-color: $content-bg;
  padding: 2rem 2rem 1rem 2rem;
  margin: 2rem 1rem 2rem 0;
  border-radius: 1rem;
}

.bg-form > * {
  margin: 1rem;
}

.margin-items > * > div {
  margin-bottom: 1rem;
}

.bg-books {
  padding: 1rem 2rem 0 2rem;
  margin-top: 2rem;
}

.bg-book {
  margin: 0 0 1rem 0;
  border-radius: 0.5rem;
}

.small-cap-text {
  font-size: 0.7rem;
  text-align: center;
  font-weight: 600;
}

.visible_bcg {
  background-color: rgb(228, 83, 83);
}

/* Change the color for input autocomplete */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 30px $body-bg inset !important;
}

/*Change text color for autocomplete */
input:-webkit-autofill {
  -webkit-text-fill-color: $body-color !important;
}

@import '../node_modules/bootstrap/scss/bootstrap';
